@model List<Comment>

<div class="popularReviews">
    <div class="title">
        <h4>Yorumlar</h4>
    </div>
    <div class="reviews" id="commentContainer">
        @foreach (var item in Model.Take(5))
        {
            <div class="review">
                <div class="image2">
                    <img src="~/images/profile/@item.ProfilePictureUrl" alt="" />
                </div>
                <div class="write">
                    <a href="/User/Detail/@item.CommentUserNameId"><h2>@item.CommentUserName</h2></a>
                    <br />
                    <small>@item.CommentDate.ToString("dd-MMM-yyyy")</small>
                    <p>@item.CommentContent</p>

                    @if (User.Identity.Name == item.CommentUserName)
                    {
                        <form method="post" asp-action="Delete" asp-controller="Comment" class="deleteCommentForm">
                            <input type="hidden" name="commentId" value="@item.ID" />
                            <input type="hidden" name="movieId" value="@item.MovieId" />
                            <button class="deleteComment" type="submit">Yorumu Sil</button>
                        </form>
                    }
                </div>
            </div>
        }
    </div>
    <div class="load-more-container">
        <button id="loadMoreButton" class="load-more-button addComment" style="cursor:pointer;" type="button">Daha fazla yükle</button>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        var startIndex = 5;
        var pageSize = 5;

        $("#loadMoreButton").click(function () {
            $.ajax({
                url: "@Url.Action("LoadMoreComments", "Comment")",
                type: "GET",
                data: { startIndex: startIndex, pageSize: pageSize, movieId: @Model.First().MovieId },
                success: function (response) {
                    $("#commentContainer").append(response);

                    startIndex += pageSize;

                    if (startIndex >= @Model.Count) {
                        $(".load-more-container").hide();
                    }
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });

        $(".deleteCommentForm").submit(function (event) {
            event.preventDefault();

            var form = $(this);

            $.ajax({
                url: form.attr("action"),
                type: form.attr("method"),
                data: form.serialize(),
                success: function () {
                    form.closest(".review").remove();
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });
    });
</script>