@model UserSignInViewModel

@{
    ViewData["Title"] = "Sinesozluk Giriş Yap";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/main/assets/CSS/main.css">
    <link rel="stylesheet" href="~/main/assets/CSS/reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <title>SineSözlük Giriş Yap</title>
</head>
<body>
    <div class="entryContainer">
        <div class="register-form">

            <img class="logoSmall" src="~/main/assets/img/sinesozluk.logo.png" alt="">

            <form method="post" action="">

                <div class="part">
                    <h4>Kullanıcı Adı</h4>
                    <input type="text" asp-for="@Model.username" placeholder="kullanıcı adı">
                </div>

                <div class="part">
                    <h4 for="password">Şifre </h4>
                    <input type="password" asp-for="@Model.password" placeholder="******************">
                </div>

                @if (!string.IsNullOrEmpty(ViewData.ModelState["recaptcha"]?.Errors?.FirstOrDefault()?.ErrorMessage))
                {
                    <span class="error" style="color:red;font-family:Arial;">@Html.Raw(ViewData.ModelState["recaptcha"].Errors.FirstOrDefault().ErrorMessage)</span>
                }

                <div class="g-recaptcha" data-sitekey="6LesIDonAAAAAPuiNDteWSZ-BDSxn1vxKy5PmhzA"></div>

                <button type="submit" id="submit" class="submit-btn" href="">Giriş Yap</button>

                @if (!string.IsNullOrEmpty(ViewData.ModelState["password"]?.Errors?.FirstOrDefault()?.ErrorMessage))
                {
                    <span class="error" style="color:red;font-family:Arial;">@Html.Raw(ViewData.ModelState["password"].Errors.FirstOrDefault().ErrorMessage)</span>
                }

                @if (!string.IsNullOrEmpty(ViewData.ModelState["emailConfirmed"]?.Errors?.FirstOrDefault()?.ErrorMessage))
                {
                    <span class="error" style="color:red;font-family:Arial;">@Html.Raw(ViewData.ModelState["emailConfirmed"].Errors.FirstOrDefault().ErrorMessage)</span>
                    <a href="/ConfirmMail/Index" style="font-family:Arial;">Hesabı aktifleştir</a>
                }

                @if (!string.IsNullOrEmpty(ViewData.ModelState["noFoundUser"]?.Errors?.FirstOrDefault()?.ErrorMessage))
                {
                    <span class="error" style="color:red;font-family:Arial;">@Html.Raw(ViewData.ModelState["noFoundUser"].Errors.FirstOrDefault().ErrorMessage)</span>
                }


                <div class="part">
                    <br />
                    <br />
                    <a href="/RegisterUser/Index">Üyelik oluştur | </a>
                    <a href="/Account/ForgotPassword/">Şifremi Unuttum</a>
                </div>

                @if (TempData["AccountActivated"] != null)
                {
                    <div class="success-message">
                        @TempData["AccountActivated"]
                    </div>
                }

            </form>
        </div>
    </div>

    <script src="https://www.google.com/recaptcha/api.js"></script>
</body>
</html>