@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="resetPassContent">
        <h4>Şifremi Sıfırla</h4>
        <div>
            @Html.TextBoxFor(m => m.ResetCode, new { @class = "form-control",placeholder="Onay kodu"})
        </div>
        <div>@Html.PasswordFor(m => m.NewPassword, new { @class = "form-control",placeholder="Yeni şifre" })</div>
        <div>@Html.PasswordFor(m => m.ConfirmNewPassword, new { @class = "form-control",placeholder="Yeni şifre  (tekrar)" })</div>
        
        <button type="submit" class="mailActive">Şifreyi Sıfırla</button>
    </div>

    <input type="hidden" class="form-control" asp-for="Email" value="@ViewBag.v" />

}
