@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2 style="color:white">Reset Password</h2>

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group" style="color:white">
        @Html.LabelFor(m => m.ResetCode)
        @Html.TextBoxFor(m => m.ResetCode, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ResetCode, "", new { @class = "text-danger" })
    </div>

    <div class="form-group" style="color:white">
        @Html.LabelFor(m => m.NewPassword)
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
    </div>

    <div class="form-group" style="color:white">
        @Html.LabelFor(m => m.ConfirmNewPassword)
        @Html.PasswordFor(m => m.ConfirmNewPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ConfirmNewPassword, "", new { @class = "text-danger" })
    </div>
    <input type="hidden" class="form-control" asp-for="Email" value="@ViewBag.v" />
    <button type="submit" class="btn btn-primary">Reset Password</button>
}
