@using MovieApp.EntityLayer.Entities
@model List<Blog>
@{
    ViewData["Title"] = "BlogListByWriter";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yazarın Blogları</h1>
<h1>@ViewBag.v</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Blog başlığı</th>
        <th>Oluşturulma Tarihi</th>
        <th>Film</th>
        <th>Sil</th>
        <th>Düzenle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.ID</th>
            <td>@item.BlogTitle</td>
            <td>
                @(((DateTime)
                    item.BlogCreateDate).ToString("dd-MMM-yyyy"))
            </td>
            <td>@item.Movies.MovieTitle</td>

            <td><a href="/Blog/BlogDelete/@item.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Blog/BlogEdit/@item.ID" class="btn btn-warning">Düzenle</a></td>
            <td><a href="/Blog/WriterBlogListDetail/@item.ID" class="btn btn-warning">Detay</a></td>
        </tr>
    }
</table>

<a href="/Blog/Create/" class="btn btn-primary">Yeni Blog Oluştur</a>

