@using MovieApp.EntityLayer.Entities
@model List<Blog>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Blog Listesi</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Blog Başlığı
            </th>
            <th>
                Yayın Tarihi
            </th>         
            <th>
                Film Adı
            </th>
            <th>
                Yazar ID
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BlogTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BlogCreateDate)
                </td>             
                <td>
                    @Html.DisplayFor(modelItem => item.Movies.MovieTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppUsers.NameSurname)
                </td>

                <td>
                    <a href="/Blog/AdminBlogListDetail/@item.ID" class="btn btn-warning">Detay</a>
                    <a href="/Blog/AdminBlogListDelete/@item.ID" class="btn btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>