@model MovieDetailModel

@{
    ViewData["Title"] = "Movie";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div style="background-image: linear-gradient( 33deg, #1a1a1a 24.97%, #1a1a1a 38.3%, rgba(26, 26, 26, 0.0409746) 97.47%, #1a1a1a 100% ), url(/images/movie/@Model.MovieDetailPoster);
     background-repeat: no-repeat;
     width: 1066px;
     height: 700px;
     background-position: top;
     margin: 0 auto;
     margin-bottom: 80px;">
    @*BURADA POSTERİ GETİREMİYORUM ^^^^*@

    <div class="movieDetail">
        <div>
            <img src="~/images/movie/@Model.MoviePoster"
                 class="avengersPoster"
                 alt="MoonLight Poster" />
        </div>
        <div class="movieTitleDetails">
            <h1>@Model.MovieTitle</h1>
            <p>
                @Model.MovieDescription
            </p>
            <br />
            <div class="director">
                Yönetmen: @foreach (var directorName in Model.DirectorNames)
                {
                    <span>@directorName</span>
                }
            </div>
            <div class="director">
                Oyuncular : @foreach (var actorName in Model.ActorNames)
                {
                    <span>@actorName |</span>
                }
            </div>
            <div class="director">
                Çıkış Tarihi: @(((DateTime)
                Model.ReleaseDate).ToString("dd-MMM-yyyy"))
            </div>
            <div class="star-wrapper">
                <a href="#" class="fas fa-star s1" id="s5" onclick="rate(5)"></a>
                <a href="#" class="fas fa-star s2" id="s4" onclick="rate(4)"></a>
                <a href="#" class="fas fa-star s3" id="s3" onclick="rate(3)"></a>
                <a href="#" class="fas fa-star s4" id="s2" onclick="rate(2)"></a>
                <a href="#" class="fas fa-star s5" id="s1" onclick="rate(1)"></a>
            </div>
            <div id="notification-container" class="@TempData["NotificationType"]">
                @TempData["NotificationMessage"]
            </div>
            <div id="notification-container"></div>
            <div class="director">
                <h4> Ortalama Puan: @Model.AverageRating </h4>
            </div>
            <script src="https://kit.fontawesome.com/5ea815c1d0.js"></script>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
                function rate(score) {
                    $.ajax({
                        url: '@Url.Action("SaveRating", "Movie")',
                        type: 'POST',
                        data: { movieId: @Model.MovieId, score: score },
                        success: function (result) {
                            if (result.success) {
                                console.log(result.message);
                                $(".star-wrapper a:lt(" + score + ")").addClass("selected");
                                $("#notification-container").removeClass().addClass(result.notificationType).text(result.notificationMessage);
                            } else {
                                console.log(result.message);
                            }
                        },
                        error: function (xhr) {
                            $("#notification-container").html(xhr.responseText).addClass("error");
                        }
                    });

                    for (let i = 1; i <= 5; i++) {
                        const star = document.getElementById('s' + i);
                        if (i <= score) {
                            star.classList.add('colored');
                        } else {
                            star.classList.remove('colored');
                        }
                    }
                }

                $(document).ready(function () {
                    var userRating = @Json.Serialize(ViewBag.UserRating);
                    if (userRating) {
                        $(".star-wrapper a:lt(" + userRating + ")").addClass("selected");
                    }
                });
            </script>
            <div class="wraper"></div>
            <a href="#" class="addMyWatch">
                <img src="~/main/assets/img/png/addIcon.png" alt="" class="addIcon" />
                <span class="text">İzleyeceklerime Ekle</span>
            </a>
            <a href="#" class="addToWatch">
                <img src="~/main/assets/img/png/favIcon.png"
                     alt=""
                     class="addIcon" /><span class="text">İzlenenlere Ekle</span>
            </a>
        </div>
    </div>
</div>
<br />
<br />
<br />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
@await Component.InvokeAsync("MovieComments", new{id=ViewBag.i})