@model MovieDetailModel

@{
    ViewData["Title"] = "Movie";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@*<div style="background-image: linear-gradient( 33deg, #1a1a1a 24.97%, #1a1a1a 38.3%, rgba(26, 26, 26, 0.0409746) 97.47%, #1a1a1a 100% ), url(/images/movie/@Model.MovieDetailPoster);
     background-repeat: no-repeat;
     width: 1066px;
     height: 700px;
     background-position: top;
     margin: 0 auto;
     margin-bottom: 80px;">*@

<div style="@ViewBag.GifStyle
     background-repeat: no-repeat;
     background-size: cover;
     width: 1066px;
     height: 800px;
     background-position: center;
     margin: 0 auto;
     margin-bottom: 80px;">

    <div class="movieDetail">
        <div>
            <img src="~/images/movie/@Model.MoviePoster"
                 class="avengersPoster"
                 alt="MoonLight Poster" />
        </div>
        <div class="movieTitleDetails">
            <h1>@Model.MovieTitle</h1>
            <p>
                @Model.MovieDescription
            </p>
            <br />
            <div class="director">
                Yönetmen: @foreach (var directorName in Model.DirectorNames)
                {
                    <span>@directorName</span>
                }
            </div>
            <div class="director">
                Oyuncular : @foreach (var actorName in Model.ActorNames)
                {
                    <span>@actorName |</span>
                }
            </div>
            <div class="director">
                Kategori : @foreach (var categoryName in Model.CategoryNames)
                {
                    <span>@categoryName |</span>
                }
            </div>
            <div class="director">
                Çıkış Tarihi: @(((DateTime)
                Model.ReleaseDate).ToString("dd-MMM-yyyy"))
            </div>
            <div class="star-wrapper">
                <a href="#" class="fas fa-star s5 @(Model.UserRating >= 5 ? "selected" : " ")" id="s5" onclick="rate(5)"></a>
                <a href="#" class="fas fa-star s4 @(Model.UserRating >= 4 ? "selected" : " ")" id="s4" onclick="rate(4)"></a>
                <a href="#" class="fas fa-star s3 @(Model.UserRating >= 3 ? "selected" : " ")" id="s3" onclick="rate(3)"></a>
                <a href="#" class="fas fa-star s2 @(Model.UserRating >= 2 ? "selected" : " ")" id="s2" onclick="rate(2)"></a>
                <a href="#" class="fas fa-star s1 @(Model.UserRating >= 1 ? "selected" : " ")" id="s1" onclick="rate(1)"></a>
            </div>
 


            
            
            <div class="director">
                <h4> Ortalama Puan: @Model.AverageRating </h4>
            </div>
            <div id="notification-container" class="@TempData["NotificationType"]">
                @TempData["NotificationMessage"]
            </div>

            <div class="wraper"></div>
            <br />
            <div>
                <a href="#" class="addMyWatch @(Model.IsMovieAdded != false ? "watchlist-button" : "")" style="margin-left:0px !important;" onclick="toggleWatchList()">
                <img src="~/main/assets/img/png/addIcon.png" alt="" class="addIcon" />
                <span class="text">İzleyeceklerime Ekle</span>
            </a>
                <a href="#" class="addToWatch @(Model.IsMovieAddedToWatchedList != false ? "watchedlist-button" : "")" style="margin-left:0px !important;" onclick="toggleWatchedList()">
                <img src="~/main/assets/img/png/favIcon.png" alt="" class="addIcon" />
                     <span class="text">İzlenenlere Ekle</span>
            </a>
            </div>
            <br />
            <div id="notification-container2" class="@TempData["NotificationType"]">
                @TempData["NotificationMessage"]
            </div>
            <div id="notification-container3" class="@TempData["NotificationType"]">
                @TempData["NotificationMessage"]
            </div>
        </div>
        
    </div>
</div>
<br />
<br />
<br />
@await Html.PartialAsync("~/Views/Comment/AddComment.cshtml")

@await Component.InvokeAsync("MovieComments", new{id=ViewBag.i})

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://kit.fontawesome.com/5ea815c1d0.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<style>
    .watchlist-button {
        background-color: green;
    }

        .watchlist-button:hover {
            background-color: red;
        }

    .watchedlist-button {
        background-color: green;
    }

        .watchedlist-button:hover {
            background-color: red;
        }
</style>
<script>
    function toggleWatchList() {
        var movieId = @Model.MovieId;
        var addButton = $('.addMyWatch');

        if (addButton.hasClass('watchlist-button')) {
            removeMovieList(movieId, addButton);
        } else {
            addMovieList(movieId, addButton);
        }
    }

    function toggleWatchedList() {
        var movieId = @Model.MovieId;
        var addButton = $('.addToWatch');

        if (addButton.hasClass('watchedlist-button')) {
            RemoveFromWatchedList(movieId, addButton);
        } else {
            addMovieWatchedList(movieId, addButton);
        }
    }

    function addMovieList(movieId, addButton) {
        $.ajax({
            url: '/Movie/AddWatchList',
            type: 'POST',
            data: { movieId: movieId },
            success: function (response) {
                if (response.success) {
                    $('#notification-container2').text('Film, izleme listenize eklendi.');
                    $('#notification-container2').addClass('success');
                    addButton.addClass('watchlist-button');
                } else {
                    $('#notification-container2').text('Zaten bu film izleme listenizde');
                    $('#notification-container2').addClass('error');
                }
            },
            error: function () {
                $('#notification-container2').text('Filmi listenize eklemeniz için giriş yapmalısınız.');
                $('#notification-container2').addClass('error');
            }
        });
    }

    function removeMovieList(movieId, addButton) {
        $.ajax({
            url: '/Movie/RemoveFromWatchList',
            type: 'POST',
            data: { movieId: movieId },
            success: function (response) {
                if (response.success) {
                    $('#notification-container2').text('Film, izleme listenizden kaldırıldı.');
                    $('#notification-container2').addClass('success');
                    addButton.removeClass('watchlist-button');
                } else {
                    $('#notification-container2').text('Film, izleme listenizde bulunamadı.');
                    $('#notification-container2').addClass('error');
                }
            },
            error: function () {
                $('#notification-container2').text('Filmi listenizden kaldırabilmeniz için giriş yapmalısınız.');
                $('#notification-container2').addClass('error');
            }
        });
    }

    function addMovieWatchedList(movieId, addButton) {
        $.ajax({
            url: '/Movie/AddWatchedList',
            type: 'POST',
            data: { movieId: movieId },
            success: function (response) {
                if (response.success) {
                    $('#notification-container3').text('Film, izledikleriniz arasına eklendi.');
                    $('#notification-container3').addClass('success');
                    addButton.addClass('watchedlist-button');
                } else {
                    $('#notification-container3').text('Zaten bu film izledikleriniz arasında.');
                    $('#notification-container3').addClass('error');
                }
            },
            error: function () {
                $('#notification-container3').text('Filmi listenize eklemeniz için giriş yapmalısınız.');
                $('#notification-container3').addClass('error');
            }
        });
    }

    function RemoveFromWatchedList(movieId, addButton) {
        $.ajax({
            url: '/Movie/RemoveFromWatchedList',
            type: 'POST',
            data: { movieId: movieId },
            success: function (response) {
                if (response.success) {
                    $('#notification-container3').text('Film, izledikleriniz arasından kaldırıldı.');
                    $('#notification-container3').addClass('success');
                    addButton.removeClass('watchedlist-button');
                } else {
                    $('#notification-container3').text('Film, izledikleriniz arasında bulunamadı.');
                    $('#notification-container3').addClass('error');
                }
            },
            error: function () {
                $('#notification-container3').text('Filmi listenizden kaldırabilmeniz için giriş yapmalısınız.');
                $('#notification-container3').addClass('error');
            }
        });
    }

    function rate(score) {
        var movieId = @Model.MovieId;
        var userRating = @Model.UserRating;

        $.ajax({
            url: '/Movie/SaveRating',
            type: 'POST',
            data: { movieId: movieId, score: score },
            success: function (response) {
                if (response.success) {
                    var averageRating = response.averageRating;

                    $('#notification-container').text('Oyunuz başarıyla kaydedildi.');
                    $('#notification-container').addClass('success');
                    $('.director h4').text('Ortalama Puan: ' + averageRating);

                    for (var i = 1; i <= 5; i++) {
                        if (i <= score) {
                            $('.star-wrapper .s' + i).addClass('selected');
                        } else {
                            $('.star-wrapper .s' + i).removeClass('selected');
                        }
                    }
                } else {
                    $('#notification-container').text('Zaten bu filme oy verdiniz.');
                    $('#notification-container').addClass('error');
                }
            },
            error: function () {
                $('#notification-container').text('Filme oy vermek için giriş yapmalısınız.');
                $('#notification-container').addClass('error');
            }
        });
    }
</script>