@model MovieListModel

@{
    ViewData["Title"] = "MovieList";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!-- Filtreleme formu -->
<form method="post" action="/Movie/MovieList/">
    <div class="filterContainer">
        <div class="filters">
            <details open>
                <summary>Film Yılı</summary>
                <div class="filterTitle">
                @foreach (var year in Model.Filter.Years ?? new List<int>())
                {
                        <div class="filterContent">
                       
                            <input type="checkbox" name="Years" value="@year">
                            <p>@year</p>
  
                    </div>
                }
                </div>
            </details>
            <details open>
                <summary>Kategori</summary>
                <div class="filterTitle">
                    @foreach (var category in Model.Filter.Categories ?? new List<int>())
                    {
                        <div class="element">
                            <input type="checkbox" name="Categories" value="@category">
                            <p>@(ViewBag.CategoryNames != null && ViewBag.CategoryNames.ContainsKey(category) ? ViewBag.CategoryNames[category] : string.Empty)</p>
                        </div>
                    }
                </div>
            </details>
            <details open>
                <summary>Puan</summary>
                <div class="filterTitle">
                @foreach (var rating in Model.Filter.Ratings ?? new List<int>())
                {
                    <div class="element">
                        <input type="checkbox" name="Ratings" value="@rating">
                        <p>@rating</p>
                    </div>
                }
                </div>
            </details>
            <details open>
                <summary>Sıralama(Puan)</summary>
                <div class="filterTitle">
                    <div class="filterContent">
                        <input type="checkbox" name="Sorting" value="lowToHigh" @(Model.Filter.Sorting == "lowToHigh" ? "checked" : "")>
                        <p>Düşükten yükseğe</p>
                    </div>
                    <div class="filterContent">
                        <input type="checkbox" name="Sorting" value="highToLow" @(Model.Filter.Sorting == "highToLow" ? "checked" : "")>
                        <p>Yüksekten düşüğe</p>
                    </div>
                </div>
            </details>
            <div class="apply">
                <a href=""><button type="submit" class="applyButton" href="#" style="cursor:pointer">Filtrele</button></a>     
                <a href="@Url.Action("MovieList", "Movie")" class="resetButton">Sıfırla</a>
            </div>
        </div>
        <div class="filterMainContent">
            <!-- Filtreleme Sonuçları -->
            <p>Filtreleme Sonuçları</p>
            @if (Model.Movies.Any())
            {
                <div class="filterResult">
                @foreach (var movie in Model.Movies)
                {
                        <div class="filterResultContent">
                            <a href="/Movie/Detail/@movie.Slug"><img src="~/images/movie/@movie.Poster" alt="" /></a>
                    </div>
                }
                </div>
            }
            else
            {
                <p>Uygun film bulunamadı.</p>
            }
        </div>
    </div>
    @*<button type="submit" class="apply; applyButton" style="cursor: pointer;">Filtrele</button>*@
</form>
