@model List<Comment>


<div class="userComments" id="commentContainer">
    <div class="title">
        <h1>Yorumlarım</h1>
    </div>
    @foreach (var item in Model.Take(5))
    {
        <div class="comment" >
            <div class="commentTitle">
                <h2>@item.CommentUserName</h2>
                <p>@item.CommentDate</p>
            </div>

         @*   <a href="@Url.Action("Detail", "Movie", new { id = item.MovieId })">*@
                <p>@item.CommentContent</p>
           @* </a>*@
            <input type="hidden" class="userId" value="@item.CommentUserNameId" />
            @if (User.Identity.Name == item.CommentUserName || User.IsInRole("Admin"))
            {
                <form method="post" asp-action="DeleteFromProfile" asp-controller="Comment" class="deleteCommentForm">
                    <input type="hidden" name="commentId" value="@item.ID" />
                    <input type="hidden" name="movieId" value="@item.MovieId" />
                    <button class="deleteComment" type="submit">Yorumu Sil</button>
                </form>
            }
        </div>
    }
    <div class="load-more-container">
        <button id="loadMoreButton" class="load-more-button addComment" style="cursor:pointer;" type="button">Daha fazla yükle</button>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        var startIndex = 5;
        var pageSize = 5;
        var totalComments = @Model.Count;

        $("#loadMoreButton").click(function () {
            var userId = $(".userId:last").val(); // Son yorumun userId değerini al

            $.ajax({
                url: "@Url.Action("LoadMoreProfileComments", "Comment")",
                type: "GET",
                data: { startIndex: startIndex, pageSize: pageSize, userId: userId },
                success: function (response) {
                    $("#commentContainer").append(response);

                    startIndex += pageSize;

                    if (startIndex >= totalComments) {
                        $(".load-more-container").hide();
                    }
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });
    });

    //Yorum siliniyor ama sayfa yenilenince gözüküyor silindiği.
    $(".deleteCommentForm").submit(function (event) {
        event.preventDefault();

        var form = $(this);

        $.ajax({
            url: form.attr("action"),
            type: form.attr("method"),
            data: form.serialize(),
            success: function () {
                form.closest(".comment").remove();
                toastr.success('Yorumunuz başarıyla silindi.', '', { positionClass: 'toast-bottom-right' });
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    });
   
</script>

