@model IEnumerable<MovieApp.EntityLayer.Entities.Actor>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Oyuncu Listesi</h1>

<p>
    <a asp-action="Create">Yeni Oyuncu Oluştur</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
@*                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@

                    @using (Html.BeginForm("Delete", "Actor", new { actorId = item.ID }, FormMethod.Post))
                    {
                        <input type="submit" value="Sil" class="btn btn-danger" onclick="return confirm('@item.ActorName isimli oyuncuyu silmek istediğinize emin misiniz?');" />
                    }
            </td>
        </tr>
}
    </tbody>
</table>
